/* -----------------------*/
/* ---    Linechart    --*/
/* -----------------------*/
.lineChart .axis path,
.lineChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.lineChart .x.axis path {
	display: none;
}

.lineChart .line {
	fill: none;
	stroke-width: 1.5px;
}

