/* -----------------------*/
/* ---    TimeSeries    --*/
/* -----------------------*/
.timeSeries .axis path,
.timeSeries .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 1px;
}

.timeSeries .x.axis path {
	display: none;
}

.timeSeries .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

